@model EMRSystem.ViewModels.InvoiceActionViewModel
@{
    ViewBag.Title = "GenerateInvoice";
}

<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <h2 class="card-title">
                Generate Invoice
            </h2>

            <form id="ActionForm">

                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">PATIENT INFO </h2>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Full Name</label>
                                    <input class="form-control" disabled value="@Model.PatientFull.Name" name="Name" placeholder="Enter Full Name.">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Email</label>
                                    <input type="email" name="Email" value="@Model.PatientFull.Email" disabled class="form-control" placeholder="Enter Email" />

                                </div>




                                <div class="form-group col-md-4">
                                    <label>CNIC</label>
                                    <input class="form-control" disabled value="@Model.PatientFull.CNIC" id="CNIC" name="CNIC" placeholder="Enter CNIC.">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Gender</label>
                                    <select class="form-control" disabled name="Gender">
                                        @if (Model.PatientFull.Gender == "Male")
                                        {
                                            <option selected value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Not Prefer to Say">Not Prefer to Say</option>
                                        }
                                        else if (Model.PatientFull.Gender == "Female")
                                        {
                                            <option value="Male">Male</option>
                                            <option selected value="Female">Female</option>
                                            <option value="Not Prefer to Say">Not Prefer to Say</option>
                                        }
                                        else if (Model.PatientFull.Gender == "Not Prefer to Say")
                                        {
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option selected value="Not Prefer to Say">Not Prefer to Say</option>
                                        }
                                        else
                                        {
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Not Prefer to Say">Not Prefer to Say</option>
                                        }

                                    </select>
                                </div>


                                <div class="form-group col-md-4">
                                    <label>Date of Birth</label>
                                    @Html.TextBox("DOB", Model.PatientFull.DOB, "{0:yyyy-MM-dd}", new { @style = "width:100%;pointer-events:none;", @id = "DOB", @class = "form-control", type = "date" })
                                </div>



                                <div class="form-group col-md-4">
                                    <label>Contact</label>
                                    <input class="form-control" value="@Model.PatientFull.PhoneNumber" disabled name="Contact" placeholder="Enter Contact.">
                                </div>

                            </div>
                        </div>

                    </div>
             
                <hr />
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Select Disease</label>
                        <select class="form-control" name="Disease" id="Disease">
                            @foreach (var item in Model.Diseases)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>Select Doctor</label>
                        <select class="form-control" name="Doctor" id="Doctor">
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Suggest Medicine</label>
                        <input type="text" class="form-control" name="SuggestMedicine" />
                        <input type="hidden" value="@Model.PatientFull.Name" name="Patient" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Add Attachment (if Any)</label>
                        <input class="form-control" name="Attachment" id="Attachment" type="hidden" />
                        <input class="form-control" id="AttachmentUpload" name="AttachmentUpload" type="file" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Remarks </label>
                        <input type="text" class="form-control" name="Remarks" />
                    </div>
                    <input type="hidden" name="Hospital" value="@Model.HospitalFull.Name" />
                </div>

            </form>
            <button id="GenerateInvoiceBtn" class="btn btn-block btn-outline-dark">GENERATE INVOICE</button>
        </div>

    </div>
</div>


<script>


    $("#AttachmentUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("FileAttachment", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadAttachment", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                if (response.Success) {
                    $("#Attachment").val(response.DocURL);
                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });


    function CheckDisease() {
        var disease = $("#Disease").val();
            var url = '@Url.Action("GetDoctors", "Patient")'; // Replace "YourController" with the actual name of your controller

            // Make an AJAX request to fetch the doctors based on the selected disease
            $.getJSON(url, { disease: disease }, function (data) {
                var doctorsDropdown = $('#Doctor');
                doctorsDropdown.empty(); // Clear the existing options

                // Populate the doctors dropdown with the fetched data
                $.each(data, function (index, item) {
                    doctorsDropdown.append($('<option></option>').val(item).text(item));
                });
            });
    }
    $(document).ready(function () {
        CheckDisease();
        $('#Disease').change(function () {
            var disease = $(this).val();
            var url = '@Url.Action("GetDoctors", "Patient")'; // Replace "YourController" with the actual name of your controller

            // Make an AJAX request to fetch the doctors based on the selected disease
            $.getJSON(url, { disease: disease }, function (data) {
                var doctorsDropdown = $('#Doctor');
                doctorsDropdown.empty(); // Clear the existing options

                // Populate the doctors dropdown with the fetched data
                $.each(data, function (index, item) {
                    doctorsDropdown.append($('<option></option>').val(item).text(item));
                });
            });
        });
    });


    $("#GenerateInvoiceBtn").click(function () {
        $.ajax({
            url: '@Url.Action("GenerateInvoice", "Patient")',
            type: "post",
            data: $("#ActionForm").serialize()
        })
            .done(function (response) {
                if (response.success) {
                    var invoiceUrl = '@Url.Action("ViewInvoice", "Patient")';
                    var formData = $("#ActionForm").serialize();

                    // Append the serialized form data as query parameters to the invoice URL
                    invoiceUrl += "?" + formData;

                    // Redirect the user to the invoice view with the form data included
                    window.location.href = invoiceUrl;
                }
            });

    })

</script>